{% extends 'login/base.html' %}

{% block header %}
  <h1>{% block title %}Registro - {% endblock %}</h1>
{% block script %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
{% endblock %}

{% block content %}
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/" class="navbar-brand">
          <img src="https://www.habbo.com.br/habbo-imaging/badge/b09064s43131s50134s17113s171153f3edc7f555be912c2392e285b05bd34.gif" alt="Instrutores" class="brand-image">
          <span class="brand-text font-weight-light">INS 2.0</span>
        </a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">{% autoescape false %}{{enviou}}{% endautoescape %}</p>
      <form action="convidado" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="nick" id="nick" placeholder="Nick">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Entrar como convidado</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="login">Fazer login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{{ super() }}
{%- endblock content %}
