{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Documentos - {% endblock %}</h1>
{% block script %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
{% endblock %}

{% block content %}
<!-- Main content -->
<style>
  .sliderprojet {
    display:none;
  }
</style>
  <section class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 mt-2">
                <table id="example2" class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th>Data/Hora</th>
                    <th>Autor</th>
                    <th>Modalidade</th>
                    <th>Tema</th>
                    <th>Veredito</th>
                    <th>Comentário</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for projeto in projetos %}
                    <tr>
                      <td></td>
                      <td class="dtr-control">{{ projeto.Ordem }}</td>
                      <td>{{ projeto.data }}</td>
                      <td>{{ projeto.Autor}} </td>
                      <td>{{ projeto.Modalidade }}</td>
                      <td>{{ projeto.Tema }}</td>
                      <td>{{ projeto.Veredito }}</td>
                      <td>{{ projeto.Comentário }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th>Data/Hora</th>
                    <th>Autor</th>
                    <th>Modalidade</th>
                    <th>Tema</th>
                    <th>Veredito</th>
                    <th>Comentário</th>
                  </tr>
                  </tfoot>
                </table>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </section>
    <!-- /.content -->
{{ super() }}
<script>
  $(function () {
   var table = $("#example2").DataTable({
      "responsive": { details: false },
                columns: [
               {                className: 'dt-control',
                orderable: false,
                data: null,
                defaultContent: '',},
            null,
            null,
            null,
            null,
            null,
            null,
            { "visible": false }
          ],
      "lengthChange": false,
      "autoWidth": false,
      "language": { url: '{{ url_for('static', filename='pt-BR.json')}}' },
      "dom": "<'card card-outline card-info'<'card-header'<'card-title'l><'card-tools mr-1'f>>" +
        "<'card-body p-0'<'row'<'col-sm-12'tr>>>" +
        "<'card-footer'<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>>>",
    });
    function format (name) {
    console.log(name);
    return `<ul class="sliderprojet nav flex-column">\
                  <li class="nav-item"><b>#</b> ${name[1]}</li>\
                  <li class="nav-item"><b>Data e hora:</b> ${name[2]}</li>\
                  <li class="nav-item"><b>Autor:</b> ${name[3]}</li>\
                  <li class="nav-item"><b>Modalidade:</b> ${name[4]}</li>\
                  <li class="nav-item"><b>Tema:</b> ${name[5]}</li>\
                  <li class="nav-item"><b>Veredito:</b> ${name[6]}</li>\
                  <li class="nav-item"><b>Comentário:</b> ${name[7]}</li>\
                </ul>`;
}
        $('#example2 tbody').on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            $('ul.sliderprojet', row.child()).slideUp( function () {
                row.child.hide();
                tr.removeClass('shown');
            } );
        } else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');

             $('ul.sliderprojet', row.child()).slideDown();
        }
    });
  });
</script>
{%- endblock content %}
