{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Scripts - {% endblock %}</h1>
  <style rel="stylesheet">
    code {
        overflow: auto;
    display: block;
    height: auto;
    max-height: 250px;
    white-space: normal;
    padding-top: 5px;
    font: 0.9em Courier,Courier New,monospace;
    line-height: 1.3em;
    color: #2E8B57;
    margin: 2px 0;
    }
  </style>
{% block script %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
{% endblock %}

{% block content %}
<!-- Main content -->
    <section class="content-wrapper">
      <div class="content">
        <div class="container">

            <h3 class="mt-4 mb-4">Scripts</h3>
            <div class="row">
                <div class="col-md-12">
                  {% for script in scripts %}
                      <div class="card card-{{script.Cor}} card-outline collapsed-card">
                        <div class="card-header">
                          <h3 class="card-title">{{ script.Title }} - <small><b>última atualização:</b> <span id="{{script.Id}}"></span></small></h3>
                          <script>
                            $("#{{script.Id}}").html(moment('{{script.Atualização}}').locale('pt-br').format('LLL'));
                          </script>
                          <div class="card-tools">
                            <a href="/script/{{script.Id}}">
                              <button type="button" class="btn btn-tool">
                                <i class="fas fa-plus" aria-hidden="true"></i>
                              </button>
                            </a>
                          </div>
                          <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <!-- /.card-body -->
                      </div>
                  {% endfor %}
                </div>
            </div>



        </div>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{{ super() }}
{%- endblock content %}
